<header>
  <nav class="navbar navbar-expand-md  navbar-dark bg-dark" >
    <div><a routerLink="/" class="navbar-brand">MyDreamApp</a></div>
    <ul class="navbar-nav">
      <li><a routerLink="/welcome/MyDreamApp" class="nav-link">HOME</a></li>
      <li><a routerLink="/todos" class="nav-link">TODOSO</a></li>
    </ul>
    <ul class="navbar-nav navbar-collapse justify-content-end "> 
        <li><a routerLink="/login" class="nav-link">LOGIN</a></li>
        <li><a routerLink="/logout" class="nav-link">LOGOUT</a></li>
      </ul>
  </nav>

</header>
